* {
  margin: 0;
}

#container {
  height: 100vh;
}

div {
  background-color: paleturquoise;
}

input {
  min-width: 200px;
}

#displayArea{
  padding: 10px;
}

ul {
  list-style-image: url(iconfinder_shopping-cart_216477.png);
  padding: 15px;
} 

#loginForm {
  margin-bottom: 30px;
}

.removeBtn {
  background-color: red;
  color: white;
  border-radius: 8px;
}
