.jumbotron {
  background-image: url("/image/yum.jpeg");
  background-position: center center;
  height: 100%;
  font-weight: bolder;
  margin-top: 5px;
  font-size: 50px;
  color: white;
  text-shadow: 4px 6px 6px rgba(0,0,0,0.6);
}

body {
  text-align: center;
  /* vertical-align: middle; */
}