hr
form.form-inline(method="POST" action="/account/add")
  .form-group.mb-2
    label.sr-only(for="food") Food
    input#title.form-control(name="food" type="text" placeholder="Enter foods to try :)")
  button.btn.btn-primary.mb2 Add