* {
  margin: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-position: right;
}
.container {
  display: flex;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 20%;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  background-color: burlywood;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 10px;
}

ul li {
  padding: 15px 10px;
}

img {
  padding-bottom: 5px;
}