extend layout

block heading
  h2 Register

block content
  form(method="POST" action="/registerUser")
    .form-group
      label(for='email') Email
      input#email.form-control(name="email" type='text' aria-describedby='emailHelp' placeholder='Enter your email')
    .form-group
      label(for='password') Password
      input#password.form-control(name="password" type='password' aria-describedby='emailHelp' placeholder='Enter your password')
    button.btn.btn-primary Register