* {
    box-sizing: border-box;
}

body {
    color: white;
}

.table {
    /* background:  */
    max-width: 700px;
    /* border-radius:
    border: */
    margin: 20px auto;
    padding: 40px;
}

.hand {
    background-color: rgba(255, 255, 255, 0.2);
    /* min-height:  */
}

.card {
    max-height: 100%;
}

.buttons {
    text-align: center;
}

/* .button {

} */