body {
  background-color: gray;
  position: relative;
}

.main {
  position: absolute;
  top: 30px;
  left: 10px;
  background-color: black;
  height: 800px;
  width: 610px;
}

.title {
  background-color: black;
  position: fixed;
  top: 0;
  color: gray;
  text-align: center;
  width: 100%;
}
.grid-container {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows:  25px 25px  25px 25px 25px 25px 25px 25px;
  grid-gap: 1px;
}

.red {
  background-color: red;
  border-radius: 10%;
}

.yellow {
  background-color: yellow;
  border-radius: 10%;
}

.green {
  background-color: green;
  border-radius: 10%;
}

.blue {
  background-color: blue;
  border-radius: 10%;
}

.bar {
  position: absolute;
  bottom: 40%;
  left: 45%;
  background-color: antiquewhite;
  height: 15px;
  width: 80px;
}

.ball {
  background-color: antiquewhite;
  width: 10px;
  height: 10px;
}

.ball.right{
  float: right;
}
