extend ../layout

block content
  form(method="POST" action="/account/login")
    .form-group
      label(for='email') Email
      input#email.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter your email' name="email")
    button.btn.btn-primary Login
