<html>
<head>
<link rel="stylesheet" href="style.css" />
</head>
<body>
<h1>Login</h1>

<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Enter username">
  <input type="password" name="password" placeholder="Enter password">
  <button>Submit</button>
</form>
</body>
</html>