<html>
<head>
<link rel="stylesheet" href="style.css" />
</head>

<body>
{{>menu}}
  <h1>Upcoming Trips</h1>
  <ul>
  {{#myTrips}}
  <li>
  <form class="card" method="POST" action="/trips/removeTrip">
    <img src="{{imgURL}}" />
      <div class="text-block">
        <h2>{{city}}</h2>
        <h4>{{departureDate}} - {{returnDate}}</h4>
      </div>
      <input type="hidden" name="cityToRemove" value="{{city}}" />
        <button>Remove</button>
  </form>
  </li>
  {{/myTrips}}
  </ul>

  {{^myTrips}}
    <p>No trips found! Please add below.</p>
  {{/myTrips}}
  
  <h1>Add a new trip</h1>
  <form method="POST" action="/trips/addTrip">
    <input type="text" name="myCity" placeholder="Trip Name" />
    <input type="text" name="myDeparture" placeholder="Departure Date" />
    <input type="text" name="myReturn" placeholder="Return Date" />
    <input type="url" name="myImg" placeholder="url for trip image" />
    <button>Save</button>
  </form>

</body>
</html>